/* Main CSS */
main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    /* Card CSS */
    .card-container {
        width: 100%;
        display: flex;
        margin: 0 20px;
        padding: 20px;
        border-radius: 30px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: #00000060;

        /* TOP CONTENT CSS */
        .top-content {
            gap: 15px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            .img-wrapper {
                display: inline-block;
                border-radius: 50%;
                border: 4px solid white;
                padding: 0;
                overflow: hidden;
                width: 108px; 
                height: 108px;
                box-sizing: border-box;
                transition: border-color 0.3s;

                img { 
                    display: block;
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform 0.3s;
                    cursor: pointer;
                    transform: scale(1);
                }
                img:hover {
                    transform: scale(1.1);
                }
            }

            h2 {
                text-align: center;
            }
        }

        /* TITLE CONTENT CSS */
        .title-content {
            margin: 20px 0;
            text-align: center;

            p {
                font: italic 1em 'Raleway', sans-serif;

                span {
                    color: #ad7cd4;
                }
            }
        }
    }
}


@media screen and (min-width: 884px) {
    .card-container {
        width: 800px!important;

        .top-content {
            h2 {
                font: bold 1.8em Helvetica, sans-serif;
            }
        }
        
        .title-content {
            p {
                font: italic 1.15em 'Raleway', sans-serif!important;
            }
        }
    }
}